/* Corpo da página com fundo preto */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede rolagem */
}

/* A frase com animação fade-in */
.section-error {
    text-align: center;
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
}

/* Animação de fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* As imagens inicialmente estão escondidas */
.container-img {
    display: none;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px; /* Ajuste para dar mais espaço entre a frase e as imagens */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Organiza as imagens em colunas responsivas */
    gap: 20px; /* Espaço entre as imagens */
    padding: 20px;
}

/* Estilo para as imagens */
.container-img img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 210px; /* Tamanho das imagens ajustado para 200px de largura */
    height: auto;  /* Mantém a proporção das imagens */
    border-radius: 10px; /* Arredonda os cantos das imagens */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Adiciona sombra suave nas imagens */
}

/* Exibindo as imagens quando a classe 'visible' for adicionada */
.container-img img.visible {
    opacity: 1;
}

/* Container dos cards */
.characters-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.character-card {
    background-color: #03310d79;
    border: 3px solid #042901;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    color: #fff; /* Cor do texto */
    font-family: 'Roboto Mono', 'Courier New', monospace; /* Fonte estilo robô */
}

.character-card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
}

h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

p {
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #29382b;
    font-weight: bold;
}

a:hover {
    color: #042b0a;
}

.large-card {
    background: #1c1c1c;
    color: #8bc34a; /* Verde suave */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    width: 90%;
    margin: 20px auto;
    max-width: 1100px;
    font-family: "Courier New", Courier, monospace;
    overflow-y: auto;
    height: 500px;
    border: 2px solid #4caf50; /* Verde mais intenso */
}

.conversation h1 {
    text-align: center;
    color: #4caf50;
    margin-bottom: 20px;
    font-size: 28px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #4caf50;
}

.chat {
    background: #2e2e2e; /* Cinza escuro */
    border-radius: 5px;
    padding: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    height: 400px;
    line-height: 1.8;
}

.chat p {
    margin-bottom: 15px;
    font-size: 18px;
    color: #d7ffd9; /* Verde claro */
}

.chat p strong {
    color: #cddc39; /* Verde amarelado */
}

.enigma-card {
    background-color: #333;
    color: #f1f1f1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    width: 50%;
    margin: 30px auto;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.enigma-card h1 {
    color: #00e676;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.enigma-card p {
    font-size: 13px;
    line-height: 1;
    margin-bottom: 10px;
    color: #b0b0b0;
}

#enigma-code {
    background-color: #1d1d1d;
    color: #00e676;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

#user-input {
    padding: 15px;
    width: 50%;
    font-size: 20px;
    border: 2px solid #00e676;
    border-radius: 8px;
    background-color: #2a2a2a;
    color: #fff;
    margin-bottom: 20px;
    outline: none;
    transition: all 0.3s ease;
}

#user-input:focus {
    border-color: #ffeb3b;
    background-color: #333;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #00e676;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background-color: #2b7a0b;
}

#result-message {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    color: #f44336;
    max-width: 80%;
    margin: 0 auto;
}

#result-message.success {
    background-color: #4caf50;
    color: #fff;
}

#result-message.error {
    background-color: #f44336;
    color: #fff;
}

.card-link {
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;  /* Para posicionar o elemento escondido */
    transition: transform 0.3s ease;
}

.card-link:hover {
    transform: scale(1.05);
}

.card-link h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-link a {
    text-decoration: none;
    color: #1DB954;  /* Spotify green */
    font-weight: bold;
    font-size: 20px;
}

.card-link a:hover {
    text-decoration: underline;
}

.hidden-message {
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #292929;
    opacity: 0.5;
    pointer-events: none;  /* Evita que a mensagem interfira com o clique do link */
}

.card-random {
    width: 500px;
    color: #39FF14;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-text {
    position: absolute;
    font-size: 30px;
    opacity: 0;
    animation: blink 0.2s linear infinite; /* Acelerando o piscar */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card-terror {
    width: 1300px;
    height: 450px;
    background-color: black;
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
    overflow-y: scroll;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    margin-left: 50px;
}

.terror-text {
    position: relative;
    font-size: 18px;
    line-height: 1.4;
}

.terror-text p {
    margin-bottom: 10px;
    font-size: 18px;
}

.terror-text span {
    color: red;
}